@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Rum+Raisin&display=swap");

body {
  background-color: #131313;
  color: #ffffff;
}

.homepage h1 {
  font-family: "Rum Raisin", sans-serif;
  font-size: 70px;
  font-weight: 200;
}
.homepage h2 {
  font-family: "Atma", system-ui;
  font-size: 30px;
}

.btn-explore {
  background-color: #f44b12;
  color: #ffffff;
  border-radius: 0;
  box-shadow: 3px 3px #ffffff;
}
.btn-explore:hover {
  background-color: #a02e08;
  box-shadow: 0px 0px #ffffff;
}
